body {
  background-image: url('/assets/images/parchment.jpeg'); /* Or your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  min-height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
}

main {
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
}
header {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black*/
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}
header h1 a {
    color: white; /* Example: White text for the title */
    text-decoration: none;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox for horizontal menu */
    justify-content: center; /* Center the menu items */
}

nav li {
    margin: 0 10px; /* Add spacing between menu items */
}
nav a {
    color: white;
    text-decoration: none;
}