/* assets/css/styles.css */
body {
    background: linear-gradient(to right, #aef8fc, #85f6fc); /* Gradient background */
    font-family: Arial, sans-serif;
    color: #44a9c060;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark header */
    color: white;
    padding: 20px;
  }
  
  a {
    color: #000000; /* Link color */
  }
  
  a:hover {
    color: #0a6ee8; /* Link hover color */
  }
  