/* assets/css/styles.css */
body {
  background-image: url('/assets/parchment.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; /* Center the image */
  background-attachment: fixed; /* Keep the background fixed */
}